* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos do menu de navegação */
nav {
    background-color: #333;
    padding: 10px 0;
    position: relative;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

/* Efeito de hover nos links */
nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Estilo do submenu */
.submenu {
    position: relative;
}

.submenu-lista {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 0;
}

.submenu-lista li {
    display: block;
    margin: 0;
}

.submenu-lista li a {
    padding: 10px 20px;
    display: block;
    color: white;
}

/* Exibe o submenu quando o item é hover */
.submenu:hover .submenu-lista {
    display: block;
}

/* Efeito de hover nos links do submenu */
.submenu-lista li a:hover {
    background-color: #575757;
}

/* Estilo do botão "Sair" */
.sair {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff4d4d;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sair:hover {
    background-color: #cc0000;
}



/*-------------------------------------------------------------*/
